CompileFlags:
  Add: ["-Isrc/public", "-Isrc/game/public"]
  Remove: ["-f*"]

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  Suppress:
    [
      "pp_including_mainfile_in_preamble",
      "unused-includes",
      "reference_bind_to_bitfield",
    ]
